.hero-unit {
	padding: 50px;
}

.hero-unit h1, .hero-unit h2 {
	font-family: 'Alfa Slab One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	margin-bottom: .3em;
}

.page-header h1, .posts h2 {
	font-family: 'Alfa Slab One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.page-header h1 small, .posts h2 small {
	font-family: Sarina, cursive;
	font-weight: 400;
}

.content .row blockquote img, .content .row-fluid blockquote img {
	float: right;
	padding-bottom: 1em;
	padding-left: 1em;
}

.tag_box {
	list-style: none;
	margin: 0;
	padding: 5px 0;
	overflow: hidden;
}
.tag_box li {
	line-height: 28px;
	float: left;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

footer {
	margin-top: 20px;
}
